<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HAHIMUR!</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'tournaments/css/output.css' %}" type="text/css"> <!-- We add the output Tailwind CSS here -->
</head>
<body class="bg-gray-100">

<div class="px-8 py-14">
     <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                {% for table_header in table_headers %}
                <th scope="col" class="px-6 py-3">{{ table_header }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
        {% for row in rows %}
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                <td class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">{{ row.name }}</td>
                <td class="px-6 py-4">{{ row.score }}</td>
            </tr>
        {% endfor %}
        </tbody>

    </table>
</div>

</body>
</html>